/* Color palette */
$black:            #000000;
$white:            #FFFFFF;

$light-grey:       #EEEEEE;
$grey:             #9E9E9E;
$dark-grey:        #424242;

$light-red:        #EF9A9A;
$red:              #F44336;
$dark-red:         #C62828;

$light-green:      #A5D6A7;
$green:            #4CAF50;
$dark-green:       #2E7D32;

$light-blue:       #90CAF9;
$blue:             #2196F3;
$dark-blue:        #1565C0;

$light-yellow:     #FFF59D;
$yellow:           #FFEB3B;
$dark-yellow:      #F9A825;
