/* Color palette */
$color-black:            #000000;
$color-white:            #FFFFFF;

$color-grey-light:       #EEEEEE;
$color-grey:             #9E9E9E;
$color-grey-dark:        #424242;

$color-red-light:        #EF9A9A;
$color-red:              #F44336;
$color-red-dark:         #C62828;

$color-green-light:      #A5D6A7;
$color-green:            #4CAF50;
$color-green-dark:       #2E7D32;

$color-blue-light:       #90CAF9;
$color-blue:             #2196F3;
$color-blue-dark:        #1565C0;

$color-yellow-light:     #FFF59D;
$color-yellow:           #FFEB3B;
$color-yellow-dark:      #F9A825;

/* Bootstrap Color Palette */
$color-bootstrap-primary:     #007BFF;
$color-bootstrap-secondary:   #6C757D;
$color-bootstrap-success:     #28A745;
$color-bootstrap-danger:      #DC3545;
$color-bootstrap-warning:     #FFC107;
$color-bootstrap-info:        #17A2B8;
$color-bootstrap-light:       #F8F9FA;
$color-bootstrap-dark:        #343A40;
