#Playground {
    #Paper {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .bottom-menu {
        position: fixed;
        bottom: 10px;
        width: 100%;

        .btn {
            min-width: 50px;
            margin: 0 2px;
        }
    }
}
