<div id="Playground">
    <background-text ng-bind="vm.backgroundText"></background-text>

    <div id="Paper" class="tool-{{vm.activeTool.type}}"></div>

    <div class="bottom-menu container-fluid">
        <div class="row">
            <div class="col text-center">
                <span class="tool-message" ng-class="vm.activeTool.type" ng-bind="vm.activeTool.message"></span>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <button title="Add place (P)" class="btn btn-success" ng-click="vm.addPlace()"> <i class="far fa-circle"></i> </button>
                <button title="Add transition (T)" class="btn btn-success" ng-click="vm.addTransition()"> <i class="far fa-square"></i> </button>
                <button title="Create arc (A)" class="btn btn-info" ng-click="vm.addArc()"> <i class="fas fa-long-arrow-alt-right"></i> </button>
                <button title="Remove element (R)" class="btn btn-danger" ng-click="vm.removeElement()"> <i class="far fa-times-circle"></i> </button>
                <button title="Clear all" class="btn btn-dark" ng-click="vm.clear()"> <i class="far fa-file"></i> </button>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <small>by: Alyson Maia (<a href="https://github.com/FederalCircle">Github</a>)</small>
            </div>
        </div>
    </div>
</div>
