<div id="Playground">
    <background-text ng-bind="vm.backgroundText"></background-text>

    <div id="Paper" class="tool-{{vm.activeTool.type}}"></div>

    <div class="bottom-menu container-fluid">
        <div class="row">
            <div class="col text-center">
                <span class="tool-message" ng-class="vm.activeTool.type" ng-bind="vm.activeTool.message"></span>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <button
                    title="Add place (P)"
                    class="btn btn-success"
                    ng-click="vm.addPlace()"
                >
                    <i class="fas fa-circle" />
                </button>
                <button
                    title="Add transition (T)"
                    class="btn btn-success"
                    ng-click="vm.addTransition()"
                >
                    <i class="fas fa-square" />
                </button>
                <button
                    title="Create arc (A)"
                    class="btn btn-success"
                    ng-click="vm.addArc()"
                >
                    <i class="fas fa-long-arrow-alt-right fa-lg" />
                </button>
                <button
                    title="Remove element (R)"
                    class="btn btn-danger"
                    ng-click="vm.removeElement()"
                >
                    <i class="fas fa-times-circle" />
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <button
                    title="Play animation"
                    class="btn btn-primary"
                    ng-click="vm.startSimulation()"
                >
                    <i class="fas fa-play" />
                </button>
                <button
                    title="Play animation"
                    class="btn btn-info"
                    ng-click="vm.donwloadNetFile()"
                >
                    <i class="fas fa-download" />
                </button>
                <button
                    title="Play animation"
                    class="btn btn-info"
                    type="file"
                    ngf-select="vm.loadNetFile($file, $invalidFiles)"
                    accept=".json"
                    ngf-max-height="1000"
                    ngf-max-size="1MB"
                >
                    <i class="fas fa-upload" />
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <small>by: Alyson Maia (<a href="https://github.com/FederalCircle" target="_blank">Github</a>)</small>
            </div>
        </div>
    </div>
</div>
